/* Imported Font from google fonts */

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600');

body,html{
    position: relative;
    height: 100%;
    background-image: url("assets/img/bg-quiz-no-parque.svg");
    background-size: cover;
    background-repeat: repeat;
    background-color: #ffd00f;
}
  
h1{
  font-weight: 100;
}
.card{
  width: 100%;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 8px 30px -10px #1e1e1e;
}

.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
  background-color: #eee;
  color: #666;
  box-shadow: 0px 5px 0px 0px #999;

}
.btn:hover{
  color: #666;
  background-color: #ffd00f;
  box-shadow: 0px 5px 0px 0px #666;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

fieldset{
  background-color: white;
  padding:10px 20px;
  width:50%;
  margin-top: 60px;
  margin-left: 25%;
  font-size: 20px;
}