/* Imported Font from google fonts */

@import url('https://fonts.googleapis.com/css?family=Raleway:900,600');

body,html{
  font-family: 'Raleway', sans-serif;
  position: relative;
  height: 100%;
  background-image: url("assets/img/bg-quiz-no-parque.svg");
  background-size: cover;
  background-repeat: repeat;
  background-color: #ffd00f;
  line-height: 1.3em;
  font-size: 28px; 
  font-weight: bolder;
}

p{
  font-size: 24px;
  font-weight: 600;
}

.container{
  width: 100%;
  max-width: 1200px;

}
.card{
  width: 100%;
  margin: 30px;
  padding: 15px;
  box-shadow: 0 8px 30px -10px #1e1e1e;
  min-height: 500px;
}




.btn{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #dd1f6c;
  border: solid 3px transparent;
  line-height: 1em;
  font-size: 36px; 
  font-weight: 900;
  border-radius: 3px; 
  position: relative;
  
}
.btn:hover{
  color: #dd1f6c;
  background-color: #fff;
  border: solid 3px #dd1f6c;
  box-shadow: 0 8px 30px -20px #333;
}

.btn:active{
  background-color: #dd1f6c;
  color: #fff;
}

/*Botão Verde*/
.btn-verde{
  background-color: rgba(30, 215, 97, 0.8);
  color: #fff;
}
.btn-verde:hover{
  background-color: #fff;
  border: solid 3px rgba(30, 215, 97, 0.8);
  color: rgba(30, 215, 97, 0.8);
}
.btn-verde:active{
  background-color: rgba(30, 215, 97, 0.8);
  color: #fff;
}

/*Botão Roxo*/
.btn-roxo{
  background-color: rgba(91, 36, 117, 1);
  color: #fff;
}
.btn-roxo:hover{
  background-color: #fff;
  border: solid 3px rgba(91, 36, 117, 0.9);
  color: rgba(91, 36, 117, 0.9);
}
.btn-roxo:active{
  background-color: rgba(91, 36, 117, 0.9);
  color: #fff;
}

/*Botão Amarelo*/
.btn-amarelo{
  background-color: rgba(250, 172, 44, 0.9);
  color: #fff;
}
.btn-amarelo:hover{
  background-color: #fff;
  border: solid 3px rgba(250, 172, 44, 0.9);
  color: rgba(250, 172, 44, 0.9);
}
.btn-amarelo:active{
  background-color: rgba(250, 172, 44, 0.9);
  color: #fff;
}

/*Botão Colorido*/
.btn-colorido{
  border: solid 3px #f9f9f9;
  color: #fff;
    background: -webkit-linear-gradient(110deg, rgba(30, 215, 97, 0.8) 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, rgba(91, 36, 117, 0.9) 66%, #ffc608 66%);
    background: -o-linear-gradient(110deg, rgba(30, 215, 97, 0.8) 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, rgba(91, 36, 117, 0.9) 66%, #ffc608 66%);
    background: -moz-linear-gradient(110deg, rgba(30, 215, 97, 0.8) 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, rgba(91, 36, 117, 0.9) 66%, #ffc608 66%);
    background: linear-gradient(110deg, rgba(30, 215, 97, 0.8) 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, rgba(91, 36, 117, 0.9) 66%, #ffc608 66%);
}
.btn-colorido:hover{
  background-color: #fff;
  border: solid 3px rgba(250, 172, 44, 0.9);
  color: #fff;

}
.btn-colorido:active{
  background-color: rgba(250, 172, 44, 0.9);
  color: #fff;
}



 /*Botão "Jogar" para começar o jogo*/
.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -100px;
  padding-top: 35px;
  display: block;
  width: 200px;
  height: 200px;
  font-size: 1.3em;
  font-weight: light;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  color: white;
  border-radius: 50%;
  background-color: #dd1f6c;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
